.btn-custom{
  font-family: $mainFont;
  background: $transparant;
  font-size: 19px;
  letter-spacing: 2px;
  text-decoration: none !important;
  border: solid 2px #fff;
  border-radius: 20px;
  color: #fff;
  transition: all .5s ease-in-out;

  &:hover{
    border: solid 2px #fff;
    background: $btnWhite;
    color: #000;
    transition: all .5s ease-in-out;
  }
  svg{
    z-index: 2;
    width: 25px;
    height: 25px;
    path {
      fill: #fff;
      stroke-linecap: round;
    }
  }
}