$mainFont: 'Mandali', sans-serif;
$titleFont: 'Bellefair', serif;

$gradientHeader: linear-gradient(180deg, #000000 42.1%, rgba(0, 0, 0, 0) 109.56%);

$mainRed: #ec1d25;

$colorTransition: color .4s ease-in-out;